@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap");

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.PTSans {
  font-family: "PT Sans", sans-serif;
}
.modal-translate {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  align-self: center;
  align-content: center;
}
