@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

p, h1, h2, a {
  font-family: 'Roboto', sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.PTSans {
  font-family: "PT Sans", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-size {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
  min-height: 550px;
  height: 70%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
}

