@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

p,
h1,
h2,
a {
  font-family: 'Roboto', sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-size {
  box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
  min-height: 550px;
  height: 70%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
}

.transform {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.language-card {
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
}
.job-card {
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
}


.card-shadow {
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, .15), 0 1px 3px 0 rgba(93, 100, 148, .2);
}

.card-shadow:hover {
  box-shadow: 0 8px 22px 0 rgba(37, 44, 97, .15), 0 4px 6px 0 rgba(93, 100, 148, .2);
}

.card-shadow:active {
  box-shadow: 0 8px 22px 0 rgba(37, 44, 97, .15), 0 4px 6px 0 rgba(93, 100, 148, .2);
}

.card-shadow-indicator:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #5A67D8;
  overflow: hidden;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

@media (max-width: 640px) {   
  .language-card:nth-child(even) {
    margin-right: 0;
  }  
  .language-card {
    margin-top: 0.5rem;
  }
}
@media (min-width: 1024px) { 
  .navigation-card:first-child {
    margin-left: 0!important;
  }
  .navigation-card:last-child {
    margin-right: 0!important;
  }
}
@media (min-width: 1024px) { 
  .card:last-child {
    margin-right: 0!important;
  } 
 }

@media (min-width: 1280px) { 
  .card:last-child {
    margin-right: 0!important;
  } 
 }